.header{
    /* 子要素をflex配置にする */
    display: flex; 
    /* 水平(主軸)方向中央 */
    justify-content: center;
    /* 垂直方向中央 */
    align-items: center;
    height:100px;
    width:auto;
    background-color: black;
    color: white;
}

.eggSelector{
    background-color: #efefef;
    height: 300px;
    margin-bottom: 30px;
    /* display: flex; */
    
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    height:300px;
    padding: 2rem 1rem;
    /* text-align: center; */
}

.egg{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}